body {
	font-family: Lato,sans-serif;
	color: white;
	min-height: 100vh;
	margin: 0;

	background-image: url('../img/UI/background.jpg');

	--bg-color: #192b33b3;
	--select-bg-color-hover: #3b6578;
}

body, .box:after {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #488489;
}

.main-container {
	padding: 2rem;
}

.center {
	margin: auto;
}

.center-container {
	display: flex;
	margin: auto;
}

a {
	color: #fb3;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.text-small {
	font-size: 13px;
}

.text-shadow, .box {
	text-shadow: 1px 0 1px #000;
}

.flex-container {
	display: flex;
}

.text-center {
	text-align: center;
	width: 100%;
}

.text-muted {
	color: #a6a6a6;
}

.text-positive, .text-positive input {
	font-weight: 700;
	color: #0f0;
	text-shadow: 1px 0 1px #000;
}

.text-negative, .text-negative input {
	font-weight: 700;
	color: #ff1a1a;
	text-shadow: 1px 0 1px #000;
}

.text-neutral {
	font-weight: 700;
	color: #FFFF00;
	text-shadow: 1px 0 1px #000;
}

.text-uncommon {
	color: #45ff5e;
}

.text-rare {
	color: #3b8fff;
}

.text-epic {
	color: #b04bdf;
}

.text-legendary {
	color: #f9a304;
}

.text-lg {
	font-size: xx-large;
}

.mt-1 {
	margin-top: 1rem;
}

.mt-2 {
	margin-top: 2rem;
}

.mt-10 {
	margin-top: 10px;
}

.box {
	position: relative;
	box-shadow: 0 3px 1px -2px rgba(93,61,19,.2),0 2px 2px 0 rgba(93,61,19,.14),0 1px 5px 0 rgba(93,61,19,.12);
	background: rgba(30, 30, 30, 0.4);
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

.box:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
    z-index: -1;
    background-image: url('../img/UI/background-blurred.jpg');
    border-radius: 6px;
}

h1 {
	text-shadow: 1px 0 1px #000;
}

h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

.row-center {
	margin-left: auto;
	margin-right: auto;
}

h4, p {
	margin-top: 5px;
	margin-bottom: 5px; 
}

.effect-title {
	font-weight: 700;
}

.effect {
	display: none;
}

.effect > span {
	display: table-cell;
	padding-top: 5px;
	padding-bottom: 5px;
}

.effect > span:last-child {
	text-align: end;
}

.resource-icon {
	vertical-align: text-bottom;
	margin-right: 5px;
	margin-left: 4px;
}

.select {
	position: relative;
	color: #000;
	text-shadow: none;
}

.select-selected {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	border: 1px solid #7A7A7A;
	border-radius: 4px;
	color: #fff;
}

.select-selected:hover {
	cursor: pointer;
}

.select-selected .select-option {
	flex-grow: 1;
}

.select-arrow {
	text-align: center;
	width: 32px;
	line-height: 32px;
	border-left: 1px solid #7A7A7A;
	color: #000;
	background-color: var(--bg-color);
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	color: #fff;
}

.select-dropdown, .upgrade-tooltip {
	position: absolute;
	z-index: 5;
	width: 100%;
	display: none;
	flex-direction: column;
	flex-wrap: nowrap;
	background-color: var(--bg-color);

	border: 1px solid #DDD;
	-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
}

.select-dropdown {
	box-shadow: 0 3px 3px -2px rgba(93,61,19,.2),0 3px 4px 0 rgba(93,61,19,.14),0 1px 8px 0 rgba(93,61,19,.12);
	border: 1px solid #b9ad8b;
	border-radius: 6px;
	background: var(--bg-color);
	color: #fff;
}

.select-option-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 160px;
}

.select-option {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	vertical-align: middle;
	white-space: nowrap;
	background-color: var(--bg-color);
	min-height: 32px;
	border-radius: 6px;
}

.gear-selector-slot .gear-select-selected .select-option {
	border-radius: 4px;
}

.select-name {
	line-height: 32px;
	padding-right: 5px;
	flex-grow: 1;
}

.select-option:hover {
	cursor: pointer;
	background-color: var(--select-bg-color-hover);
}

.select-selected .select-option:hover {
	cursor: pointer;
	background-color: var(--bg-color);
}

.select-selected .select-option {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

.select-img {
	width: 32px;
	height: 32px;
	margin-right: 5px;
	border-radius: 3px;
}

.civ-icon {
	width: 32px;
	height: 32px;
}

.filter {
	width: 34px;
	height: 34px;
	border-radius: 50%;
	border-width: 2px;
	border-color: transparent;
	border-style: solid;
}

.filter:hover {
	border-color: #00d80080;
	cursor: pointer;
}

.filter.active {
	border-color: #00d800;
}

.select-filters {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}

.select-search {
	border: none;
	line-height: 14px;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 5px;
	padding-right: 5px;
	border-bottom: 1px solid #b9ad8b;
	width: 100%;
	background: transparent;
	color: #fff;
}

.gear-select {
	display: none;
	position: initial;
	width: 32px;
	height: 32px;
}

.gear-select-selected {
	border: none;
	position: relative;
}

.gear-select-img {
	margin-right: 0px;
	width: 40px;
	height: 40px;
	border-radius: 4px;
}

.gear-select-dropdown, .stats-selector, .upgrade-tooltip {
	left: 1rem;
	width: calc(100% - 2rem);
}

@media screen and (min-width: 768px) {
	.gear-select-dropdown, .stats-selector, .upgrade-tooltip {
		min-width: 18vw;
		left: auto;
		transform: translateX(calc(-50% + 20px));
	}
}

@media screen and (min-width: 992px) {
	.gear-select-dropdown, .stats-selector, .upgrade-tooltip {
		min-width: 9vw;
		left: auto;
		transform: translateX(calc(-50% + 20px));
	}
}

.gear-selector-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	vertical-align: bottom;
	margin: auto;
}

.gear-selector-unit-icon {
	width: 64px;
	height: 64px;
	margin-right: 10px;
	border-radius: 10px;
}

.gear-selector {
	display: flex;
}

.minify-width {
	width: 0px;
}

.gear-selector-slot {
	width: 40px;
	height: 40px;
	margin-top: auto;
	background-image: url('../img/Slot/ArmorPlatingSlot_ua.png');
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 4px;
}

.gear-selector-slot:hover {
	cursor: pointer;
}

.gear-selector-slot:not(:last-child) {
	margin-right: 5px;
}

.item-box-type {
	color: #e6c953;
	font-size: 14px;
}

.item-box {
	box-shadow: 0 3px 3px -2px rgba(93,61,19,.2),0 3px 4px 0 rgba(93,61,19,.14),0 1px 8px 0 rgba(93,61,19,.12);
	width: 350px;
	max-width: 350px;
	margin: 0 auto;
	border: 3px solid #b9ad8b;
	border-radius: 6px;
	background: #192b33;
	padding: 6px 6px 12px;
	font-size: 14px;
	color: #fff;
	opacity: .95;
}

.cog {
	position: absolute;
	color: white;
	right: 0;
	bottom: 0;
	padding-right: 2px; 
	padding-bottom: 2px;
	z-index: 3;
}

.stats-selector {
	box-shadow: 0 3px 3px -2px rgba(93,61,19,.2),0 3px 4px 0 rgba(93,61,19,.14),0 1px 8px 0 rgba(93,61,19,.12);
	margin: 0 auto;
	border: 1px solid #b9ad8b;
	border-radius: 6px;
	background: #192b33;
	padding: 6px 6px 12px;
	font-size: 14px;
	color: #fff;
	opacity: .95;

	display: none;
}

.stats-selector:hover {
	cursor: auto;
}

.effects-container {
	display: table;
	width: 100%;
}

.gear-stat {
	display: table-row;
	position: relative;
}

.gear-stat * {
	display: table-cell;
	vertical-align: middle;
	white-space: nowrap;
}


.stat-selector-slider {
	padding: 0;
	font: inherit;
	outline: none;
	cursor: pointer;
	box-sizing: border-box;
	height: 25px;
	margin: 0;
	padding-right: 15px;
	padding-left: 15px;
}

@supports not (-ms-ime-align:auto) {
	.stat-selector-slider {
		min-width: 100%;
		-webkit-appearance: none;
		background: transparent;
	}
}

.stat-selector-slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 12px;
	height: 12px;
	background: #ebebeb;
	border-radius: 50%;
	background: #ebebeb;
	cursor: pointer;
	margin-top: -4px;
}

.stat-selector-slider::-webkit-slider-runnable-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	background: #9a9994;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}

.stat-selector-slider::-moz-range-track {
	width: 100%;
	height: 3px;
	cursor: pointer;
	background: #9a9994;
	border-radius: 10px;
	border: 0.2px solid #010101;
}

.stat-selector-slider::-moz-range-thumb {
	width: 12px;
	height: 12px;
	background: #ebebeb;
	cursor: pointer;
}

.slider-container {
	position: relative;
	width: 100%;
}

.stat-selector-value, .stat-selector-value-input {
	width: 40px;
	min-width: 40px;
	height: 25px;
}

.stat-selector-value-input {
	display: table-cell;
	border: none;
	background: none;
	font-size: 14px;
}

.stat-selector-value-input[type='number'] {
    -moz-appearance:textfield;
}

.stat-selector-value-input::-webkit-outer-spin-button,
.stat-selector-value-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.stat-selector-value:hover {
	cursor: pointer;
}

.upgrade-row {
	display: flex;
	flex-direction: row;
}

.upgrade-row * {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.upgrade-row > * {
	margin-top: 10px;
}

.upgrade-row .upgrade {
	margin-right: 5px;
}

.upgrade-row .chained-upgrade > .upgrade {
	margin-right: 0px;
}

.upgrade {
	vertical-align: middle;
	opacity: 0.4;
	width: 40px;
	height: 40px;
	border-radius: 3px;
}

.upgrade-tooltip {
	display: none;
	box-shadow: 0 3px 3px -2px rgba(93,61,19,.2),0 3px 4px 0 rgba(93,61,19,.14),0 1px 8px 0 rgba(93,61,19,.12);
	margin: 0 auto;
	border: 1px solid #b9ad8b;
	border-radius: 6px;
	background: #192b33;
	padding: 6px 6px 6px;
	font-size: 14px;
	color: #fff;
	opacity: .95;
}

.upgrade-title {
	font-size: 15px;
	color: #fff;
	font-weight: 700;
	display: table-row;
}

.upgrade:hover + .upgrade-tooltip {
	display: table;
}

.upgrade:hover {
	cursor: pointer;
}

.chained-upgrade:first-child .upgrade:first-child {
	opacity: 1 !important;
}

.upgrade-arrow {
	font-size: 35px;
	line-height: 40px;
	vertical-align: middle;
	margin-left: 5px;
	margin-right: 5px;
	opacity: 0.4;
}

.upgrade.active, .upgrade-arrow.active {
	opacity: 1;
}

.level-container::before {
	content: "Level: ";
	margin-right: 5px;
}

.level {
	font-size: 12px;
	color: #a6a6a6;
	margin-right: 5px;
}

.level:hover {
	cursor: pointer;
}

.level:hover, .level.level-active {
	color: #fff;
}

.buttons-container {
	display: inline-flex;
	margin-top: 5px;
	margin-bottom: 5px;
	justify-content: flex-end;
	width: 100%;
}

.button {
	background-color: rgba(255,255,255,0.4);
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 2.5px;
	display: inline-block;
	position: relative;
}

.button:hover {
	cursor: pointer;
}

.button:not(:first-child) {
	margin-left: 5px;
}

button::-moz-focus-inner {
  border: 0;
}

.unit {
	display: flex;
	flex-direction: column;
	padding-left: 1rem;
	padding-right: 1rem;
	white-space: nowrap;

	margin-left: auto;
	margin-right: auto;
}

.unit .row {
	padding-right: 15px;
	padding-left: 15px;
}

.unit-select-title {
	display: inline-block;
	margin-right: 1.5rem;
}

.unit-header {
	display: flex;
}

.clipboard-notification {
	display: none;
	position: absolute;
	top: -20px;
	white-space: nowrap;
	transform: translateX(-50%);
	left: 50%;
}

.clipboard-notification-shown {
	display: inline-block;
	animation-name: fadeOut;
    animation-duration: 3s;
}

@keyframes fadeOut {
    0%   { opacity: 1 }
    50%  { opacity: 1 }
    100% { opacity: 0 }
}
